
<div class="film-cover-wrapper row-full-width " style="background-image:url(/assets/img/bg/bg-jimmy-stewart-800.jpg)">
  <div class="film-cover full-width-section ">
    <div class="site-max">
        <div class="fc-info">
          <h2>Filmkeep Code of Conduct</h2>
        </div>
      </div>
  </div>
</div>
<div class="row site-max  pages">
  <div class="col-xs-12 col-md-8">
 
    <ul class="terms-nav nav nav-pills">
     <li ><a ui-sref='root.terms'>Terms of Service</a></li>
      <li class="active"><a ui-sref='root.code' >Code of Conduct</a></li>
      <li><a ui-sref='root.privacy'>Privacy Policy</a></li>
      <li><a ui-sref='root.copyright'>Copyright Policy</a></li>
    </ul>

    <p>This Code of Conduct governs all users' behavior while visiting Filmkeep.com as well as our mobile applications and other software applications (the "Services").</p>
    <p>The Code of Conduct is designed to make everyone's experience with our Services as enjoyable as possible. Failure to follow the Code of Conduct may result in the suspension or termination of your account without compensation.</p>
    <p>You should not post messages or submit, publish, or otherwise make any content available on the Services, or act in a way, which in our opinion:</p>
    <ul>
      <li>Libels, defames, invades privacy, stalks, is obscene, pornographic, racist, abusive, harassing, threatening or offensive, or contains hate propaganda or promotes discrimination or violence against anyone for any reason, including without limitation on account of their race, national origin, religion, age, gender, disability, or sexual orientation;</li>
        <li>Collects or stores personally identifiable information from Filmkeep or its users without their permission
                Contains the image of any person without their written permission to post the image on the Service;</li>
        <li>Advertises any commercial endeavor (e.g., offering for sale products or services) or otherwise engages in any commercial activity (e.g., conducting raffles or contests, displaying sponsorship banners, and/or soliciting goods or services) except as specifically authorized on the Services;</li>
        <li>Solicits funds, advertisers or sponsors;</li>
        <li>Contains information that you know is false, misleading, or promotes illegal conduct;</li>
        <li>Is or promotes an illegal or unauthorized copy of another person's copyrighted work, or provides information to circumvent access control or copyright protection technologies;</li>
        <li>Infringes any patent, copyright, trademark, service mark, trade secret, or other proprietary or contractual right of any person or entity;</li>
        <li>May be harmful to minors or seeks to exploit or harm children by exposing them to inappropriate content, asking for personally identifiable details or otherwise;</li>
        <li>Impersonates or misrepresents your connection to any other entity or person or otherwise manipulates headers or identifiers to disguise the origin of the content;</li>
        <li>Disobeys any policy or regulations established from time to time regarding use of the Services or any networks connected to the Services;</li>
        <li>Contains a software virus or any other code files or programs that are designed to or have the ability to interrupt, destroy, compromise, or otherwise limit the functionality of any equipment whether owned by us or any other party;</li>
        <li>Attempts to probe, scan or test the vulnerability of any of our systems or networks or breach or impair or circumvent any security or authentication measures protecting the Services;</li>
        <li>Attempts to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services;</li>
        <li>Involves the transmission of any unsolicited commercial messages or other similar commercial communications (such as spam);</li>
        <li>Improperly solicits or collects usernames, email addresses, passwords, or personal identifying information from other users for any purpose;</li>
        <li>Otherwise violates any local, state, national or other applicable law or regulation; or</li>
        <li>Contains links to other sites that contain the kind of content that falls within the descriptions set out above.</li>
    </ul>
    <p>In addition, you may not, in connection with your use of the Services:</p>
    <ul>
      <li>Impersonate any person or entity, including our officers or employees, or falsely misrepresent your affiliation with any other person or entity;</li>
        <li>Disguise the origin of any content posted or transmitted on or through the Services;</li>
        <li>Interfere with or disrupt the Services or network resource;</li>
        <li>Stalk or harass any person; or</li>
        <li>Collect or "harvest" from the Services the names of or information associated with other users.</li>
    </ul>
    <p>In addition, you are prohibited from removing any sponsorship banners or other material inserted by us anywhere on the Services (e.g., on any web space made available for your personal use).</p>
    <p>We may remove anything for any reason, including if we think it goes against any of these rules or our Terms of Service.</p>

    <p>Last updated on January 20, 2015</p>



  </div>
  <div class="col-xs-12 col-md-4"></div>
</div>
