
<div class="film-cover-wrapper row-full-width " style="background-image:url(/assets/img/bg/bg-jimmy-stewart-800.jpg)">
  <div class="film-cover full-width-section ">
    <div class="site-max">
        <div class="fc-info">
          <h2>Filmkeep Copyright Policy</h2>
        </div>
      </div>
  </div>
</div>
<div class="row site-max pages">
  <div class="col-xs-12 col-md-8">
    <ul class="terms-nav nav nav-pills">
     <li ><a ui-sref='root.terms'>Terms of Service</a></li>
      <li><a ui-sref='root.code' >Code of Conduct</a></li>
      <li><a ui-sref='root.privacy'>Privacy Policy</a></li>
      <li class="active"><a ui-sref='root.copyright'>Copyright Policy</a></li>
    </ul>

   <p>Filmkeep respects the intellectual property rights of others and expects its users to do the same. In accordance with the Digital Millennium Copyright Act, the text of which may be found in Section 512(c)(3) of the United States copyright laws (available at <a href="http://www.copyright.gov/title17/92chap5.html">http://www.copyright.gov/title17/92chap5.html</a>), Filmkeep will respond expeditiously to claims of copyright infringement committed using the Filmkeep service that are reported to the Filmkeep Designated Copyright Agent identified in the sample notice below.</p>
    <p>If you are a copyright owner, authorized to act on behalf of one or authorized to act under any exclusive right under copyright, you will need to send a written communication reporting the alleged copyright infringements taking place on or through Filmkeep.com (or our mobile or other type of device applications) (the "Site") by completing the following DMCA Notice of Alleged Infringement and delivering it to the Filmkeep Designated Copyright Agent. Upon receipt of Notice as described below, Filmkeep will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged use from the Site and/or termination of the Filmkeep Member's account.</p>
    <p>DMCA Notice of Alleged Infringement ("Notice")</p>
    <ol>
      <li>Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.</li>
       <li> Identify the material or link you claim is infringing (or the subject of infringing activity) and that access to which is to be disabled, including at a minimum, if applicable, the URL of the link shown on the Site where such material may be found.</li>
        <li>Provide your mailing address, telephone number, and, if available, email address.</li>
        <li>Include both of the following statements in the body of the Notice:
          <ul>
            <li>"I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."</li>
            <li>"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."</li>
          </ul>
        </li>
        <li>Provide your full legal name and your electronic or physical signature.</li>
    </ol>
    <p>Deliver this Notice, with all items completed, to Filmkeep's Designated Copyright Agent:</p>
    <p>c/o Filmkeep LLC<br>
        18700 Silent Water Way<br>
        Pflugerville, TX 78660<br>
        support@filmkeep.com</p>
    <p>We reserve any and all exemptions from liability that may be available under the copyright or other applicable law.</p>

    <p>Last updated on January 20, 2015</p>



  </div>
  <div class="col-xs-12 col-md-4"></div>
</div>
