<div ng-switch="feed_item.verb" >

  <!-- REVIEW FEED ITEM -->
  <div class="feed-item clearfix" ng-switch-when="filmkeep\review">
    <!-- <img ng-src="%%feed_item.activities[0].actor.avatar | profileFilter%%" width="60" height="60" class="circle-corners avatar" /> -->
    <avatar class="avatar" info="feed_item.activities[0].actor"></avatar>
    <span class="feed-date pull-right">%%feed_item.updated_at.date | fDate %%</span>
    <span class="activity-summary">
      <span class="feed-actor">
        <a ui-sref='root.user.filmkeep({username: feed_item.activities[0].actor.username})'>%%feed_item.activities[0].actor.name%%</a>
      </span>
      %% feed_item.verb | verb %%
      <span ng-if="feed_item.activity_count>1">%%feed_item.activity_count%% films</span>
      <a ui-sref='root.review({reviewId: feed_item.activities[0].object.id})' ng-if="feed_item.activity_count===1">%%feed_item.activities[0].object.film.title%%</a>
    </span>
    <div class="clearfix">
      <accordion close-others="false">
      <accordion-group  is-open="status.open" ng-class="{open: status.open }" ng-init="status.open = $index ==0 ? true : false"  ng-repeat="activity in feed_item.activities" class="activity-item activity-review" >
        <accordion-heading>
            %%activity.object.film.title%% (%%releaseDate(activity.object.film.release_date)%%) <i class="pull-right glyphicon glyphicon-chevron-down" ></i>
            <p ng-if="activity.object.notes.length >1" text-more="%%activity.object.notes%%" max="50"></p>
        </accordion-heading>
          <div class="feed-review-cover" ng-style="{'background-image':'url(%%activity.object.film.backdrop_path | imageFilter :'backdrop':'1' %%)'}">
            <div class="cover"></div>
          </div>
          <div class="feed-review-wrapper clearfix">
            <div class="feed-review-poster pull-left">
                <film-object film="activity.object.film" comments="true" type="vertical" review="activity.object"></film-object>
            </div>
            <span class="title">%%activity.object.film.title%%</span>
            <div class="feed-review-ratings " >
              <div ng-repeat="rating in activity.object.ratings | limitTo: 5">
                <p type="rating.rating_type" rating-type-label></p>
                <div class="progress" >
                  <div class="progress-bar" role="progressbar" aria-valuenow="%%rating.value%%" aria-valuemin="0" aria-valuemax="2000" ng-style="{width: toPercent(rating.value)}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="feed-review-notes" text-more="%%activity.object.notes%%" max="125"></div>
          <div class="feed-comments" ng-if="activity.object.film.showcomments">
            <comments type="review"  commentable-id="activity.object.id" film-id="activity.object.film.id"></comments>
          </div>

      </accordion-group>
      </accordion>
      
    </div>
  </div>

<!-- WATCHLIST FEED ITEM -->
  <div class="feed-item clearfix" ng-switch-when="filmkeep\watchlist">
    <!-- <img ng-src="%%feed_item.activities[0].actor.avatar | profileFilter%%" width="60" height="60" class="circle-corners avatar" /> -->
    <avatar class="avatar" info="feed_item.activities[0].actor"></avatar>
    <span class="feed-date pull-right">%%feed_item.updated_at.date | fDate %%</span>
    <span class="activity-summary">
      <span class="feed-actor">
          <a ui-sref='root.user.filmkeep({username: feed_item.activities[0].actor.username})'>%%feed_item.activities[0].actor.name%%</a>
      </span>
      %% feed_item.verb | verb %%
      <span ng-if="feed_item.activity_count>1">%%feed_item.activity_count%% films</span>
      <a ui-sref='root.film({filmId: feed_item.activities[0].object.film.tmdb_id, filmSlug: slugify(feed_item.activities[0].object.film.title)})' ng-if="feed_item.activity_count===1">%%feed_item.activities[0].object.film.title%%</a>
       to the <a ui-sref='root.user.watchlist({username: feed_item.activities[0].actor.username})'>watchlist</a>
    </span>
    <div class="clearfix">
      <span ng-repeat="activity in feed_item.activities" ng-if="$index < 2" class="activity-item" ng-class="{multi: feed_item.activity_count>2}">
          <film-object  film="activity.object.film" horizontal="true" comments="true"></film-object>
          <div class="feed-comments" ng-if="activity.object.film.showcomments">
            <comments type="watchlist"  commentable-id="activity.object.id" film-id="activity.object.film.id"></comments>
          </div>
      </span>

      <div class="showhide" ng-if="feed_item.activities.length > 2">and <a class="less showhide-toggle">%%feed_item.activities.length - 2%% more</a>
        <div class="more">
          <span ng-repeat="activity in feed_item.activities" ng-if="$index > 1" >
             <film-object film="activity.object.film" horizontal="true" comments="true"></film-object>
            <div class="feed-comments" ng-if="activity.object.film.showcomments">
              <comments type="watchlist"  commentable-id="activity.object.id" film-id="activity.object.film.id"></comments>
            </div>
          </span>
        </div>
      </div>
    </div>

  </div>

  <!-- FOLLOWER FEED ITEM -->
  <div class="feed-item clearfix" ng-switch-when="filmkeep\follower">
    <!-- <img ng-src="%%feed_item.activities[0].actor.avatar | profileFilter%%" width="60" height="60" class="circle-corners avatar" /> -->
    <avatar class="avatar" info="feed_item.activities[0].actor"></avatar>
    <span class="feed-date pull-right">%%feed_item.updated_at.date | fDate %%</span>
    <span class="feed-actor">
        <a ui-sref='root.user.filmkeep({username: feed_item.activities[0].actor.username})'>%%feed_item.activities[0].actor.name%%</a>
    </span>
    %% feed_item.verb | verb %%
    <!-- <span ng-if="feed_item.activity_count>1">%%feed_item.activity_count%% films</span> -->
    
    <span ng-repeat="activity in feed_item.activities | limitTo:3" >
        <a ui-sref='root.user.filmkeep({username: activity.object.target.username})'>%%activity.object.target.name%%<span ng-hide="$last">, </span></a>
    </span>
    <span ng-show="feed_item.activities.length > 3"> and %%feed_item.activities.length - 3%% others
    </span>
  </div>

</div>