<h3>Filmkeep</h3>
<span class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">%%rating_types[0].label%% <span class="glyphicon glyphicon-chevron-down"></span></a>
  <ul class="dropdown-menu" role="menu" >
    <li ng-repeat="type in rating_types"><a ng-click="sortByRatingType(type.id)"></span>%%type.label%%</a></li>
  </ul>
</span>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" ></dir-pagination-controls>
<div class="clearfix">
  <ul class="filmkeep-list">
      <li dir-paginate="user_review in user_reviews | itemsPerPage: reviews_per_page" total-items="total_reviews" current-page="pagination.current">
         
          <a href="/r/%%user_review.id%%" ><img title="%%user_review.film.title%%" ng-src="%% user_review.film.poster_path | imageFilter :'poster':'1'%%" onerror="this.src = '/assets/img/default-profile.jpg';" /></a>
      </li>
  </ul>
</div>

<!-- <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls> -->