<div class="film-cover-wrapper row-full-width " ng-style="{'background-image':'url(%%film.backdrop_path | imageFilter :'backdrop':'1' %%)'}">
  <div class="film-cover full-width-section ">
    <div class="site-max">
        <div class="fc-info">
          <div class="fc-poster hidden-xs hidden-sm">
            <img ng-src="%%film.poster_path | imageFilter:'poster':'1'%%" onerror="if (this.src != '/assets/img/fallback-poster.jpg') this.src = '/assets/img/fallback-poster.jpg';"/>
          </div>
          <div class="fc-content">
            <h2>%%film.title%%</h2>
            <div class="film-actions">
              <a class="visible-xs-inline" ng-click="getTrailer(film.tmdb_id)"><span class="glyphicon glyphicon-facetime-video"></span></a>
              <a ng-click="newReview(film)" ng-show="film.reviewed == 'false'">Review this</a>
              <a ng-click="watchlist(film)"  ng-if="me.user.id"><span ng-class="{'glyphicon-plus': film.on_watchlist === 'false','glyphicon-ok': film.on_watchlist === 'true'}" class="glyphicon"></span> watchlist</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="full-width-section theme-beige row-full-width">
   <div class="row site-max">
    <div class="col-xs-12 col-sm-2">
      
      <div class="trailer-review hidden-xs" ng-style="{'background-image':'url(%%film.backdrop_path | imageFilter :'backdrop':'0' %%)'}">
        <a ng-click="getTrailer(film.tmdb_id)">Trailer</a>
      </div>
      
      
    </div>
    <div class="col-xs-12 col-sm-8">
      
      <p>%%film.summary%%</p>
    </div>
    <div class="col-xs-12 col-sm-2">

      <div class="mpaa %%film.rotten.mpaa%%" ng-if="film.rotten && film.rotten.mpaa"><span>RATED</span><strong>%%film.rotten.mpaa%%</strong> </div>
      <p ng-if="film.rotten && film.rotten.critics_score > -1" class="rotten-wrapper">
        <a ng-href="%%film.rotten.link%%"><span class="rotten-icon" ng-class="{fresh: film.rotten.critics_rating =='Fresh', certified_fresh: film.rotten.critics_rating =='Certified Fresh', rotten: film.rotten.critics_rating =='Rotten'}"></span>
        %%film.rotten.critics_score%%%</a>
      </p>
    </div>
    <!-- <div class="col-xs-12 col-sm-9"></div> -->

  </div>
</div>

<!-- <div ng-repeat="reviews in follower_reviews">%%reviews.user.name%%</div> -->