<div class="info-page">
  <div class="info-section section1 row-full-width">
    <div class="info-wrapper">
      <h2>Rate Movies, Love Film</h2>
      <p>Easily create customizable film ratings that combine the simplicity of a 5-star score with the depth of a full review</p>
      <a href="/users/create" target="_self" class="sign-up btn btn-primary">Sign up</a>
    </div>
  </div>

  <div class="info-section row-full-width section2">
    <div class="info-wrapper">
      <h2>See your ratings in relation to other films you’ve rated</h2>
      <p>What makes Filmkeep truly unique is its Benchmark scales. As shown below, the last relevant films you rated are marked on each scale, so when you rate a new movie you can perfectly calibrate your opinions in relation to them.</p>
    </div>
  </div>

  <div class="info-section row-full-width section3">
    <div class="info-wrapper">
      <h2>Create custom criteria</h2>
      <p>They aren’t just good or bad, two stars or four, fresh or frozen. Movies are an escape. They’re two hours of our frighteningly short lives. They can affect you in deep and impactful ways, yet are so often reduced to a solitary, crowdsourced score as meaningless as the smiley face sticker you earned for your 1st grade art project.</p>
    </div>
  </div>
  <div class="info-section row-full-width section4">
    <div class="info-wrapper">
      <h2>Keep your opinions to everyone!</h2>
      <p>Let's get started!</p>
      <a href="/users/create" target="_self" class="sign-up btn btn-primary">Sign up</a>
    </div>
  </div>


</div>