<div class="info-page">
  <div class="info-section section1 row-full-width" window-height="wheight" ng-style="{height:getHeight(wheight)}">
    <div class="info-wrapper" style="position:relative;top:25%;">
      <h2 style="">You’ve just seen a movie. Excellent.<br>Now filmkeep it.</h2>
      <p>Join now to find, save and share your films.</p>
      <a href="/users/create" target="_self" class="sign-up btn btn-primary">Let's do this</a>
     
    </div>
     <a scroll-to-item scroll-to="#section2" class="learn-more btn-open">learn more <i class="glyphicon glyphicon-chevron-down"></i></a>
  </div>

  <div class="info-section row-full-width section2" id="section2">
    <div class="info-wrapper">
      <p>Keep your opinions to everyone! And rate movies in a meaningful yet accessible way. We put our hearts into building a system that we want to use, we hope you do too.</p>
    </div>
  </div>

  <div class="info-section row-full-width section3">
    <div class="info-wrapper">
     <a class="btn-open" ng-click="showVideo()">Play <i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>
  <div class="info-section row-full-width section4">
    <div class="info-wrapper">
      <h3>Intuitive Rating System</h3>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <i class="icon-stars-solid"></i>
          <h3>Too simple</h3>
          <p>Movies aren’t just good or bad, two stars or four, fresh or frozen. Arbitrary, holistic scores rounded to the nearest whole number are meaningless</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <i class="icon-sliders-solid red"></i>
          <h3>Perfect</h3>
          <p>Sliders for multiple criteria are a simple, intuitive way to rate films with the ease of a star score system but the depth of a full review.</p>
        </div>
         <div class="col-sm-12 col-md-4">
          <i class="icon-review-solid"></i>
          <h3>Too complex</h3>
          <p>While long-winded, carefully nuanced reviews are perfect for capturing one’s view of a film, they are too time consuming to maintain.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="info-section row-full-width section5">
    <div class="info-wrapper">
     <h3>How it works</h3>
     <div class="row">
        <div class="col-sm-12 col-md-6">
          <i class="icon-relation"></i>
          <h3>Rate in relation</h3>
          <p>When you rate a new movie, filmkeep allows you to perfectly calibrate your opinions in relation to the other films you’ve seen using our patent-pending system.</p>
        </div>
        <div class="col-sm-12 col-md-6">
          <i class="icon-custom"></i>
          <h3>Custom criteria</h3>
          <p>Everybody has a different take on what makes a movie great. We get you started with basic criteria, but  give you the ability to create your own criteria.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="info-section row-full-width section6">
    <div class="info-wrapper">
     <h3>Rate Movies, Love Film</h3>
     <a class="btn-open" href="/users/create" target="_self">Let's do this</a>
    </div>
  </div>
</div>