<div class="relation-hint-container"  ng-style="{'top': relation_top + 'px' }"   ng-show="show_hint">
    <div class="hint-compare left-compare" ng-show="left_compare.length >0"><span>%%left_compare%%</span></div>
    <div class="hint-compare right-compare" ng-show="right_compare.length >0"><span>%%right_compare%%</span></div>
    <div class="relation-bar">
        <span class="relation-dot current-dot"></span>
        <div class="relation-bg" ng-style="{'left': -(curValue/2000)*100 + '%'}">
            
            <span class="relation-dot" ng-repeat="review in reviews" ng-style="{'left': (review.ratings[hint_index].value/2000)*100 + '%' }"></span>
        </div>
    </div>
</div>