<h3>%%review.film.title%%</h3>
<img ng-src="%%review.backdrop%%"/>
<a ng-click="editReview({review:review,rating_types:rating_types})">Edit</a>
<div class="review-ratings" ng-repeat="rating_type in rating_types">
    <p>%%rating_type.label%%</p>
    <div class="progress" >
      <div class="progress-bar" role="progressbar" aria-valuenow="%%rating_type.value%%" aria-valuemin="0" aria-valuemax="2000" style="width: %%toPercent(rating_type.value)%%%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
</div>
<h3>Notes</h3>
<p>%%review.notes%%</p>