<div class="padding-top">
  <avatar class="avatar large" info="page_user"></avatar>
  <a ui-sref='root.user.filmkeep({username: page_user.username})'>%%page_user.name%%</a>
  <a ng-show="showFollow" ng-click="follow(page_user)"><span class="glyphicon glyphicon-ok" ng-show="page_user.following"></span> %% page_user.following ? "following" : "follow" %%</a>
  %%page_user.total_followers%% followers
  <a ui-sref='root.user.watchlist({username: page_user.username})'>watchlist</a>


  <div ui-view="page-child"></div>
</div>