.gs-header{
  background:@filmkeep-beige;
  padding:1em 2em;

  i{
      font-size: 4em;
      padding-top: 15px;
      display: inline-block;
      color:@filmkeep-red;
  }

  h2{
    color:@filmkeep-red;
    margin-bottom: 0em;
    font-size:1.9em;
  }
}

.gs-content{
  padding:1em 2em;
}
.gs-bottom{
  background:rgba(0,0,0,.7);
  padding: 1.5em;
  text-align: center;
  bottom: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
}


.gs{
  background-position: top center;
  background-size:cover;
  height:519px;

  .btn-primary{
    width:inherit;
    // min-width: 100px;
    background:@filmkeep-red;
    display: block;
    max-width: 120px;
    margin:0 auto;
  }
}

.gs-1, .gs-5{
  text-align: center;
  padding:10em 5em;
  color:@filmkeep-beige;

  p{
    max-width: 200px;
    margin:0 auto;
  }

  .btn-primary{
    margin-top:2em;
  }
}


.gs-2{
  h3{
    font-size:1.3em;
    margin-top:0px;
  }
}

.follow-friends, .custom-criteria, .rate{
  position: relative;
  height: 370px;
  padding-bottom: 130px;
}
.user-item{
  float:left;
  width:265px;
  margin-bottom: 1em;
}

.custom-criteria {
  input.form-control{
    background:#ececec;
  }
  .filmeter{
    padding:.5em 1em;
    margin-bottom: 0px;
  }
}

.rate {
  padding-left: 3em;
  padding-right: 3em;
  & > div{
    text-align: center;
  }
}
.gs-rate-new{
  width: 100%;
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  text-align:center;
  span{
    background:#ececec;
    margin-top:.2em;
    display: block;
    padding: 1.3em .5em;
    position: relative;
  }
  h4,a{
    font-size:.8em;
  }
   i{
    font-size: 6em;
    margin-top: 25px;
    display: block;
    line-height: 1.1em;
   }
}

.gs-rate-poster{
  background-size: cover;
  height:100%;
  width:100%;
  position: absolute;
  left: 0;
  top: 0;
}