.info-page{
  // margin-top:50px;
}
.info-wrapper{
  max-width: 800px;
  margin:0 auto;
}
.info-section{
  padding:4em;
  text-align: center;
  color:@filmkeep-beige;
  h2{
    font-size:30px;
  }
}
@media only screen and (min-width: 40.063em)
{
  .info-section{
    
    h2{
      font-size:50px;
    }
  }
}
.sign-up{
  max-width: 250px;
  margin-top:2em;
  border-radius:3px !important;
}
.section1{
  h2{
    margin-top:2em;
  }
  background-image:url(/assets/img/bg/bg-jimmy-stewart-800.jpg) ;
  background-repeat: no-repeat;
  background-position: top center;
  background-size:cover;
}


.section2{
  background-color:@filmkeep-beige;
  color:@filmkeep-red;

}
.section3{
  background-color:@filmkeep-red;

}
.section4{
  background-color:@filmkeep-sage;

}