/*Constants*/
@brown-dark :#7b7171;
@filmkeep-red : #d2544c;
@filmkeep-orange : #d47d55;
@filmkeep-sage : #c8bba1;
@filmkeep-beige : #f4e8d0;
@filmkeep-blue: #7fb5b7;


.beige{
  color:@filmkeep-beige !important;
}

.ps-scrollbar-x-rail, .ps-scrollbar-y-rail {
        opacity: 0.6 !important;
        display: block !important;
        background-color: #ececec;
        height:100%;
      }

.ps-scrollbar-y{
  // min-height:50px;
}

