html{
  height: 100%;
}
body { 
  // background:url(/assets/img/bg/bg-jimmy-stewart-800.jpg) top center no-repeat;
  background-size:cover;
  background-color: white;
  font-family: 'Lato',"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: @brown-dark;
  
  height:100%;
}
body, input, select, textarea, button {
-webkit-font-smoothing: antialiased;
}
.container-fluid{

}
.main-content{
  min-height: 600px;
}
.page-child{
  margin-top:1em;
}
.body-bg{
  background-image:url(/assets/img/bg/bg-jimmy-stewart-800.jpg) ;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Volkhov',"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
h2{
  font-style: italic;
  font-weight: bold;
}
hr{
  opacity:.4;
}
a{
  color:@filmkeep-red;
  cursor: pointer;
  &:hover{
    color:lighten(@filmkeep-red,5%);
    
  }
  &:hover, &:active, &:focus{
    text-decoration: none;
  }
}

.space-bottom{
  margin-top:4em;
}

.min-content-height{
  min-height: 600px;
}

input[type="text"], input[type="number"],input[type="password"], textarea{
  
  font-size:16px
}
.close{
  position: absolute;
  right:10px;
  z-index: 10000;
}
.modal-close{
  padding:1em;
}

.site-max{
  max-width: 1280px;
  margin:0px auto;
}

ul, ul li{
  margin:0px;
  padding:0px;
  list-style:none;
}