<form ng-submit="saveUser()" class="user-form form-horizontal" name="userform">
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakepasswordremembered"/>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">              
                  <input class="form-control" name="name" ng-model="current_user.name" placeholder="full name" required/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">username</label>
                <div class="col-sm-10">
                  <input class="form-control" name="username" ng-model="current_user.username" placeholder="username" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">email</label>
                <div class="col-sm-10">
                  <input class="form-control" type="email" name="email" ng-model="current_user.email" placeholder="email" required/>
                </div>
            </div>

            
            <div class="form-group">
                <label class="col-sm-2 control-label">password</label>
                <div class="col-sm-10">
                  <input class="form-control" type="password" id="pw1" name="password" ng-model="current_user.password" placeholder="password" ng-minlength=6 />
                  <div class="msg-block" ng-show="userform.$error"><span class="msg-error" ng-show="userform.password.$error.minlength">
                      Must be at least 6 characters.
                  </span></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">password confirmation</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password"  id='pw2' name="password_confirmation" ng-model="current_user.password_confirmation" ng-minlength=6 pw-check="pw1" placeholder="please retype your password" />
                   <div class="msg-block" ng-show="userform.$error"><span class="msg-error" ng-show="userform.password_confirmation.$error.pwmatch">
                      Passwords don't match.
                  </span></div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" ng-disabled="!userform.$valid" value="Save" />
            </div>
        </div>
    </div>
</form>