<div ng-class="{horizontal:horizontal == 'true'}" class="film-object clearfix">

  <div class="poster" style="background-image:url(%%poster_path | imageFilter:'poster':'1'%%);background-size: cover;">
    <span ng-hide="horizontal"  class="poster-overlay">
      <a class="overlay-action top" ng-click="goToLink()" href="javascript:;">
        <span class="ficon glyphicon glyphicon-share-alt"></span>
      </a>
      <a class="overlay-action bottom" ng-click="getTrailer(film.tmdb_id)" href="javascript:;">
        <span class="ficon glyphicon glyphicon-facetime-video"></span>
      </a>
    </span>
    <!-- <img ng-src="%%poster_path | imageFilter:'poster':'1'%%" onerror="if (this.src != '/assets/img/fallback-poster.jpg') this.src = '/assets/img/fallback-poster.jpg';" /> -->
  </div>

  <span class="film-object-content">
    <h3 ng-if="horizontal"><a ng-click="goToLink()">%%film.title%%</a></h3>
    <p ng-if="horizontal" text-more="%%film.summary%%" ></p>
    <div class="fo-actions">
      <a class="action "  ng-if="horizontal" tooltip="Watch Trailer" ng-click="getTrailer(film.tmdb_id)"><span class="ficon glyphicon glyphicon-facetime-video"></span></a>
      <a class="action" tooltip="Review this" ng-click="newReview(film)" ng-if="film.reviewed === 'false'"><span class="ficon glyphicon glyphicon-tasks"></span><!--  <span class="review-label">review</span>  --></a>

      <span ng-if="review">
        <a class="action" href=""  tooltip="Compare" ng-click="compare(review)" ng-if="review.film.reviewed === 'true' "><span class="ficon glyphicon glyphicon glyphicon-retweet"></span></a> 
        <a class="action" href=""  tooltip="Edit review" ng-click="editReview(review.id)" ng-if="review.user_id === me.user.id"><span class="ficon glyphicon glyphicon-pencil" ></span><!-- <span class="hidden-xs">edit</span> --></a> 

        <!-- <a ui-sref='root.review({reviewId: activity.object.id})'><img id="%%activity.id%%" ng-src="%%activity.object.film.poster_path | imageFilter:'poster':'1'%%" /></a> -->
      </span>
      <a class="action comment-icon" ng-show="comments_show" tooltip="Toggle comments" ng-click="openComments()" ng-init="film.showcomments = false"><i class="ficon glyphicon glyphicon-comment"></i><span class="comment-count" ng-show="comments > 0">%%comments%%</span></a>
      <a class="action watchlist-btn" ng-click="watchlist(film)" ng-if="show_watchlist_btn"><span ng-class="{'glyphicon-plus': film.on_watchlist === 'false','glyphicon-ok': film.on_watchlist === 'true'}" class="ficon glyphicon"></span> watchlist</a>

    </div>
  </span>
</div>