<div class="featurelist compare-container">
  <h3>Feature List</h3>
  <div class="preloader" ng-show="featurePreloader">loading <img src="/assets/img/loaders/loading-bubbles.svg" alt="Loading icon" /></div>

  <span ng-hide="featurePreloader">
    <p>This is a beta site and there is much work to be done. While we have a running list of cool features we're working on (which you can see below), let us know what you'd like to see on filmkeep at <a href="mailto:support@filmkeep.com">support@filmkeep.com</a></p>
    <h4>Coming Soon</h4>
    <ul>
      <li ng-repeat="todo in todos">%%todo%%</li>
    </ul>
    <h4>Completed</h4>
    <ul>
      <li ng-repeat="do in done">%%do%%</li>
    </ul>
  </span>
</div>