<div class="follow-friends">
  <div class="preloader" ng-show="loading"><img src="/assets/img/loaders/loading-bubbles.svg" alt="Loading icon" /></div>
  <span ng-repeat="user in users" class="us">
    <div class="media user-item">
      <div class="media-left">
        <avatar class="avatar" disable-click="true" info="user"></avatar>
      </div>
      <div class="media-right">
        <h3>%%user.name%%</h3>
        <a ng-click="follow(user)"><span class="glyphicon glyphicon-ok" ng-show="user.following"></span> %% user.following ? "following" : "follow" %%</a> 
      </div>
    </div>
  </span>
</div>